################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DBOperationWithCoreApp/DBOperationWithCoreApp/DBOperationWithCoreApp.csproj
/.vs
/DBOperationWithCoreApp
